<ScrollView>
    <StackLayout class="bottom-gradient">
        
        <TextField hint="Email or Phone" class="input input-border input-login"
            backgroundColor="#e7e7e7"></TextField>
        <TextField hint="Password" secure="true" class="input input-border input-login"
            backgroundColor="#e7e7e7">
        </TextField>
        <Button text="Log In"  class="btn btn-primary btn-login"></Button>
        <Button text="Sign Up" class="btn btn-primary btn-sign-up"
            marginBottom="20"></Button>
    </StackLayout>
</ScrollView>